name: Unit Tests
on:
  workflow_dispatch:
  push:
    paths:
      - '**.ts'
      - '**.js'
  pull_request:
    types:
      - opened
      - synchronized
      - reopened
jobs:
  run-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Install Bun.js
        uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install
      - name: Run unit tests
        run: bun test

